<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- This is used to instruct the webserver to serve static content from source -->
    <staticContent>
      <mimeType fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <handlers>
      <!-- This tells the webserver to use the Python FastAPI app on incoming requests -->
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\home\python394\python.exe|D:\home\python394\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <httpPlatform processPath="D:\home\python394\python.exe" arguments="&quot;D:\home\site\wwwroot\app\main.py&quot;" stdoutLogEnabled="true" stdoutLogFile="D:\home\LogFiles\stdout.log" startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>
